/*____________________ List__________________ */
.list{
    width: 70%;
    margin-top: 1%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #8080804d;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    gap: 5%;

}
.card{
    width: 270px;
    height: 340px;
    background-color: #262B52;
    margin: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.card :hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    font-style: none;
}
.fotoPropiedad{
    height: 200px;
    width: 250px;
    border-radius: 10px;
}
.operacion {
    background-color: #B7F49D ;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    left: 78%;
    top: 20px;
    font-weight: 700;
    font-size: 1em;
    color: #262B52;
}

.infoCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "tipo_inmueble dormitorios"
                            "departamento precio"
                            "barrio .";
    font-size: 0.85em;
    width: 250px;
}
.infoCard p{
    line-height: 10px;
}
.tipo{
    grid-area: tipo_inmueble;
}
.dormitorios{
    grid-area: dormitorios;
}
.departamento{
    grid-area: departamento;

}
.barrio{
    grid-area: barrio;
}
.precio{
    grid-area: precio;
    padding: 0;
    height: 20px;
}

/* _________PORTADA___________ */
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh; 
    background-color: #262B52;
    background-position: center;
    background-size: cover;
}
.opacidad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;   
    /* background-color: #8c96b86b; */
}
.contenedorPortada{
    height: 100%;
    width: 100%;
    display: flex;
}

.fotoPortada{
    background-size: cover;
    width: 80%;
    height: 88%;
    filter: brightness(50%);
    border-radius: 10px;
    position: relative;
    top: 6%;
    left: 10%;
}
.flechaSiguiente{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 30%;
    left: 10%;
   font-size: 55px;
    color: white;

}
.flechaAnterior{
    height: 100px;
    width: 100px;
    transform: rotate(-180deg);
    position: relative;
    bottom: 38%;
    right: 85%;
   font-size: 55px;   
   color: white;
}
.flechaAnterior:hover, .flechaSiguiente:hover{
    cursor: pointer;
    color: #B7F49D;
    font-size: 65px;
      transition: 0.6s;
}
.textoPortada{
    position: absolute;
    top: 60vh;
    left: 30vw;
    width: 40vw;
    text-align: center;
    z-index: 2;
    color: white;
}

/* __________ADMINISTRAR____________*/
.bgAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/Images/livingAdmin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.administrar{
    background-color: #262b52ce;
    height: 60vh;
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 60%;
}
.navAdministrar{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
   gap: 5%;
   margin: 0;
   padding: 0;  
}
.navAdministrar li{
    list-style: none;
    background-color: #B7F49D;
    width: 12vw;
    height: 17vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}
.navAdministrar li:hover{
background-color: #abbeff;
}
.navAdministrar a{
text-decoration: none;
color: black;
text-decoration: none;
font-weight: 500;
}
.mas{
    position: absolute;
    top: 43%;
    left: 21%;
}
.iconoMenuAdmin{
    font-size: 2em;
}
.cerrarAdministrar{
    position: relative;
    bottom: 40%;
    left: 95%;
    color: #B7F49D;
    height: 8%;
    font-size: x-large;
    text-decoration: none;
}
.cerrarAdministrar:hover{
color: #abbeff;
}

/* ___________HOME____________________ */
.bgImage{
    background-image: url("../../public/Images/bg.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    position: sticky;
    top: 0;
    height: 100%;
}
.scrol{
    background-color: #abbfff4d;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ___________DETALLE________ */
.contenedorDetalle{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-image: url("../../public/Images/bg.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
  
   
}
.detalle{
    /* padding: 2% 3% 3% 3%; */
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10%; */
    margin-top: 2%;
    margin-left: 10%;
    background-color: #abbfffb9;
    border-radius: 10px;
}
.fotoDetalle{
    height: 400px;
    width: 390px;
    object-fit: cover;
    border-style: solid;
    border-color: #262B52;
    border-radius: 10px;
}
.divFotoDetalle{
    width: 50%;
    display: flex;
    align-items: center;
    
}
.precioDetalle{
    position: relative;
    left: 60%;
    bottom: 20%;
}
.infoDerecha{
    position: relative;
    right: 5%;
    bottom: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: self-start; */
    margin-top: 3%;  
    width: 40%;
    height: 50%;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
}
.infoDerecha li{
    font-family: 'Didact Gothic', sans-serif;
    list-style: none;
}
.descripcionDetalle{
    position: absolute;
    text-align: justify;
    left: 40%;
    width: 50%;
    top: 65%;
    padding: 2% 8% 0 5%;
    font-family: 'Didact Gothic', sans-serif;
    color: black;

}
.btnClose{
    position: absolute;
}
.atrasDetalle{
    position: absolute;
    right: 12%;
    display: flex;
    top: 27%;
    text-decoration: none;;
    color: black;
    justify-content: center;
    align-items: center;
}
.atrasDetalle p{
    padding-left: 10px;
}
.atrasDetalle :hover{
    cursor: pointer;
    color: #B7F49D;
}
.divAtras{
   display: flex;
   font-weight: 400;
}